# MTR 2040 Lab 1
## Name: (your name here)
## Date: (insert date here)

The main purpose of this lab is to introduce students to the basic fundamentals of Python. Topics include basic arithmitic, variables and variable assignment, and data structures. Lets start with some basic arithmitic.

Basic arithmitic is easy in python. Common operators:

* + for addition
* - for subtraction
* \* for multiplication
* / for division
* // for floor division
* ** for exponentials
* % for modulo operator

To run a Jupyter cell you can click on a cell then use Shift + Enter (Command + Enter on a Mac). You can also click the flipped triangle "play" button up top to run a cell. Run the following cell and then play around with different operators and values. Can you figure out what floor division and the modulo operator do?

In [1]:
300 + 44

344

In [2]:
3 * 44
2 + 10
14 - 3

11

Python (and most programming languages) run code on a **line by line** basis, starting at the top and working its's way down. This is helpful for debugging purposes (which we'll get much more into later).

In the above cell, three lines of code are executed. However, notice that the last line of code (5 * 5) is the only one that printed out the result when the cell has been run. This is by design in **Jupyter**. You can print any result explicity using the "print" function. Notice how in the cell below, all three lines are printed when the print function is explicitly called. However, it is fine to not use the print function if you are only interested in the result of a single line of code (the last line) in Jupyter. If you want to print text, also known as a "string" in programming, wrap the text around quotation marks. You can use single or double quotation marks (as long as they are consistent), but convention is to generally use double quotations.

In [3]:
print(4 ** 2)
print("4 squared equals:", 4 ** 2)
print("Each print statement will appear on its own line")

16
4 squared equals: 16
Each print statement will appear on its own line

Each print statement will appear on its own line
Variables are a method to assign values to a specific refernce identity which can be tracked, changed, and referenced in other parts of the code pipeline. Variable names should strike a balnace between being self-describing and not too long.

There are some rules with variable naming:

* Varible names cannot begin with a number or symbol
* No spaces within the name are allowed. Snake case is common for variable names which seperates words with an underscore ("_"), example: 'temperature_in_celcius'. CamelCase is also frequently used...
* Case matters (temperature and Temperature names would result in two variables unrelated to one another).
* You should never name a variable a Python "keyword". More on key words later, but if a word is highlighted a different color (usually green in jupyter lab), that indicates it is a key word and should not be used to name a variable. "sum" is an example of a keyword.

Variables are assigned using a variable name = value. You can now perform operations using the varibles themselves, instead of the raw values.

In [102]:
october_snowfall = 1.03 # in inches
november_snowfall = 6.23 
december_snowfall = 10.90
OND_snowfall = october_snowfall + november_snowfall + december_snowfall

print("The total snowfall in October through December was: ", OND_snowfall)

The total snowfall in October through December was:  18.16

Notice the **inline comment** on the first line in the aboive cell. Inline comments are denoted with the # symbol and will tell python to ignore everything to the right of that for that **line of code**. They can be their own lines or as a part of a line (as above).

In [103]:
print("The total snowfall in October was: ", october_snowfall)

# Perhaps there was an error in the data, and it needed to be corrected for

october_snowfall = 2.03
print("The total snowfall in October was: ", october_snowfall)

The total snowfall in October was:  1.03
The total snowfall in October was:  2.03

When you assign a variable, they persist in memory and can be used at any point within the program. They can also be changed (reassigned) at any point within the program.

In python, multiple variables can be assigned simutaniously (on the same line of code). To do so, just seperate each variable name and their respective values by a comma.

In [104]:
t_fahrenheit, t_celcius, t_kelvin = 32, 0, 273.15
print("The freezing temperature in kelvin is: ", t_kelvin, "K")

The freezing temperature in kelvin is:  273.15 K

Now that we are familiar with some basic data types (strings and numeric - (both integer and float)), we can look at **data structures**. Data structures are ways to package and store data for easy manipulation. Some examples of Python data structures include: lists, tuples, and dictionaries. Lets look at some examples. Let's begin with one of the most common ones: **lists**. List are denoted by square brackets [ ], with each element of the list separated by a comma. We assign a list from scratch the same way we do a single variable.

In [105]:
my_list = [3, 67, 99, -45, 65, 0, 33]
another_list = ["temperature", "dew point", "RH"]
mixed_list = ["Solar Radiation", 5490, "75"] # Lists can have elements of differnt data types

print(my_list)
print(another_list)
print(mixed_list)

[3, 67, 99, -45, 65, 0, 33]
['temperature', 'dew point', 'RH']
['Solar Radiation', 5490, '75']

You can retrieve specific elements of a list using the numeric order in which they were assigned. Python is **zero-indexed**, meaning the first element starts at zero (not one). The sytax to do so is *variable*[*numeric_index*].

In [106]:
print(my_list[0]) # get the first element of "my_list"
print(mixed_list[2]) # get the third element of "mixed_list"

3
75

You can get multiple sequential values from a list by using a "range" of values, denoted by a colon. To get the first 3 elements of a list you would use the syntax **variable[0:3]**. With this syntax, the element on the left side is inclusive, and the element on the right side is the stopping point, but is **not** included. You can also leave the element before or after the colon blank which means start at the beginning (left) or go all the way to the end (right).

In [107]:
print(my_list[0:2]) # get elements 0 and 1 from "my_list"
print(mixed_list[1:3]) # get elements 1 and 2
print(my_list[:5]) # get the first five elements from the list

[3, 67]
[5490, '75']
[3, 67, 99, -45, 65]

In [108]:
temperatures = [t_fahrenheit, t_celcius, t_kelvin] # you can use variables in lists
print(temperatures)

[32, 0, 273.15]

In [109]:
temperatures[1] = 200.45 # you can reassign values based on index
print(temperatures)
print(t_celcius) # notice that the original value didn't change, even though it was changed in the list

[32, 200.45, 273.15]
0

In [110]:
temperatures[1] = 200.45 # you can reassign values based on index
print(temperatures)
print(t_celcius) # notice that the original value didn't change, even though it was changed in the lsit

[32, 200.45, 273.15]
0

In [111]:
all_lists = [my_list, mixed_list, temperatures] # list elements can be another list!
print("Temperaures: ", all_lists[2])

Temperaures:  [32, 200.45, 273.15]

The last example would be considered a "nested list". To get a specific value from a nested list, you index each one seprately with it's own set of indexing brackets.

In [112]:
# get the third element of the third element of "all_lists" and add 100
boiling_temp_kelvin = all_lists[2][2] + 100 
print(boiling_temp_kelvin)

373.15

The next data structure we'll talk about is a **tuple**. Tuples are denoted with parenthsis instead of brackets and are indexed the same way. The main difference is that you can't reassign values to them once they are created - which makes them a bit faster to work with. We will primarily be using lists (and arrays, more on that later), but it is good to know about them as you'll see them as you begin looking at others code.

In [113]:
my_tuple = ("snow", "rain")
my_tuple[0] = "freezing rain" # errors since it doesn't support reassignment

TypeError: 'tuple' object does not support item assignment

### Common built-in functions

There are many helpful built in functions to help us. We already learned about the print function, let's look a couple more.

In [114]:
print(temperatures)

print(len(temperatures)) # the "len" function returns the length (numer of elements) of an object

[32, 200.45, 273.15]
3

In [115]:
print(len("Charlie")) # strings have a length of the number of characters
print(len(["Charlie", "Rob", "Emily"])) # but the length of a list only counts the number of list elements

7
3

In [116]:
# sum, max, min are some simple mathmatical operations
print(my_list)
print("The sum of my list is: ", sum(my_list))
print("The maximum values of my list is: ", max(my_list))
print("The minimum value of my list is: ", min(my_list))

[3, 67, 99, -45, 65, 0, 33]
The sum of my list is:  222
The maximum values of my list is:  99
The minimum value of my list is:  -45

You can add an element to a list (to the end) by using the append method of a list.

In [117]:
print(my_list)
my_list.append(100)
print(my_list) # 100 has been added to the end of the list

[3, 67, 99, -45, 65, 0, 33]
[3, 67, 99, -45, 65, 0, 33, 100]

## Excercises

1. Debug / fix the following lines of cells of code.

In [86]:
print "This is a print statement"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2541426263.py, line 1)

In [87]:
print(the length of my_list is, my_list)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1286900386.py, line 1)

In [92]:
print("The third element of the temperatures list is ", temperatures[3]

SyntaxError: incomplete input (2776501118.py, line 1)

2. Create a list of 10 elements of relative humidity values and print the last three elements using two differnt indexing techniques.

In [96]:
# your code here

3. Convert the dewpoint_in_f to celsius and assign it to a variable in one line of code.

In [94]:
dewpoint_in_f = 52.6

# your code here

4. Create a nested list (at least 4 elements in each list) and print the third and fourth element of the second list.

In [98]:
# Your code here